@import 'base';
@import 'vars';
@import 'nav';

a {
  color: $bp-bitcamp-orange;
  &:hover {
    text-decoration: none;
    color: $bp-bitcamp-orange;
    opacity: 1;
    filter: brightness(140%);
  }
}

img.icon {
  width: 4rem;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

a.bp-btn {
  color: white;
  font-size: 1.6rem;
  padding: 1.2rem 1.8rem;
  font-family: Aleo;
  font-weight: bold;
  transition: ease all .2s;
  text-transform: uppercase;
  background-color: purple;
  text-decoration: none;
  border-radius: 2px;
  border-bottom: 3px solid darken(purple, 10);
  &.orange {
    background-color: $bp-bitcamp-orange;
    border-bottom: 3px solid darken($bp-bitcamp-orange, 10);

  }
  &.blue {
    background-color: $bp-medium-blue;
    border-bottom: 3px solid darken($bp-medium-blue, 10);

  }
  &.brown {
    background-color: $bp-dark-brown;
    border-bottom: 3px solid darken($bp-dark-brown, 10);

  }
  &.lg {
    padding: 1.2rem 3.6rem;
  }
  &:hover {
    opacity: 1;
    filter: brightness(140%);
  }
  &:active {
    opacity: 1;
    filter: brightness(90%);
  }
  // border-top: 2px soid $bp-yellow-orange;
}

article.mobile-top {
  background-color: $bp-midnight-blue;
  color: white;
  position: relative;
  z-index: 999;
  height: 16rem;
  transition: ease height .3s;
  .links {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  a {
    transition: ease all .3s;
    text-align: center;
    display: block;
    opacity: 1;
    width: 100%;
    // margin: 0rem 1.5rem 2rem;
  }
  &.hidden {
    height: 0;
    z-index: -10;
    a {
      opacity: 0;
    }
  }
}

article.page-body {
  position: relative;
}

article.hero {
  padding: 12rem 1.5rem;
  margin-bottom: -.2rem; // gap glitch fix
  background-color: $primary-bg-color;
  .content {
    .col-sm:nth-child(1) { // First column
      text-align: right;
    }
    @media (max-width: $sm-breakpoint) {
      .col-sm,
      .col-sm:nth-child(1) {
        text-align: center;
      }
    }
    @media (min-width: $sm-breakpoint) and (max-width: $md-breakpoint) {
      font-size: 75%;
    }
    h1 {
      color: $logo-color;
      font-size: 5rem;
      margin-bottom: 1rem;
      & + p {
        font-weight: bold;
        font-size: 115%;
      }
    }
    p {
      margin-bottom: 0;
    }
    .call-to-action { 
      display: inline-block;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      padding: 0;
      margin-top: 2rem;
      span {
        display: inline-block;
        background: $secondary-btn-color;
        color: $default-font-color;
        padding: 1rem 2rem 1rem 3rem;
        &:first-child {
          position: relative;
          background: $primary-btn-color;
          color: white;
          padding-left: 2rem;
          &:after { // Triangle
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 91%;
            z-index: 10;
            background: $primary-btn-color;
            width: 20px;
            height: 100%;
            transform: skewX(-20deg);
          }
        }
      }
    }
    .logo-box {
      img.logo {
        width: 20rem;
        margin-right: 3rem;
        @media (max-width: $md-breakpoint) {
          margin-right: 0;
        }
      }
    }
  }
}

.page-section {
  position: relative;
  padding: 12rem 0rem;
  h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-weight: normal;
    opacity: .9;
  }
  h4 {
    font-size: 2.0rem;
    color: $bp-yellow-orange;
  }
  h5 {
    font-size: 1.8rem;
    color: $bp-yellow-orange;
  }
  p {
    margin-top: 4rem;
    opacity: .9;
  }
  .btn-container {
    margin-top: 4rem;
  }
  &.dark {
    background-color: $bp-midnight-blue;
    color: white;
  }
  &.medium {
    background-color: $bp-midnight-blue-light;
    color: white;
  }
}

article.intro {
  @extend .page-section;
  @media (max-width: $md-breakpoint) {
    text-align: center;
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    @media (max-width: $md-breakpoint) {
      margin-top: 8rem;
    }
  }
}

article.trails {
  @extend .page-section;
  .col-content {
    @media (max-width: $md-breakpoint) {
      text-align: center;
    }
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    .icon {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }
}

article.colorwar {
  @extend .page-section;
  background-image: url('../img/colorwarbg.jpg');
  background-size: cover;
  background-position: bottom;
  padding-bottom: 28rem;
  .icon {
    width: 8rem;
    margin-bottom: 4rem;
  }
}

article.schedule {
  @extend .page-section;
  .trail-hightlight {
    font-weight: bold;
    color: $bp-yellow-orange;
  }
  .bp-btn {
    min-width: 20rem;
    // margin-left: .8rem;
  }
  p {
    margin-bottom: 4rem;
  }
  h4 {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
  }
  .schedule-table {
    margin-top: 4rem;
    text-align: left;
    width: 100%;
    tr {
      border-bottom: 2px solid #394a50;
      &.heading {
        border: none;
      }
    }
    th, td {
      min-width: 12rem;
      padding: 1rem;
      // padding-right: 1rem;
      // padding-bottom: .8rem;
    }
    th {
      color: $bp-sky-blue;
      font-weight: bold;
    }
  }
}

article.faq {
  @extend .page-section;
  background: white !important; //TODO: remove important tag with new layout
  h2 { // TODO: remove
    color: $logo-color;
    text-align: left;
  }
  h5 {
    cursor: pointer;
    font-family: $sans-serif-stack;
    border-bottom: 1px solid #8c8c8c;
    color: black; //TODO: remove
  }
  p {
    margin-top: 2rem;
    display: none;
    color: black; //TODO: remove
  }
  .faq-card {
    margin-top: 4rem;
    position: relative;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      background: black;
      transition: transform 100ms ease-in-out;
    }
    &:before { // Horizontal Line
      right: $plus-margin-right;
      top: calc(#{$plus-margin-top} + #{$plus-offset});
      width: $plus-length;
      height: $plus-thickness;
    }
    &:after { // Vertical Line
      right: calc(#{$plus-margin-right} + #{$plus-offset});
      top: $plus-margin-top;
      width: $plus-thickness;
      height: $plus-length;
    }
    &.open {
      p {
        display: block;
      }
      &:before {
        transform: rotate(-180deg);
      }
      &:after {
        transform: rotate(-90deg);
      }
    }
  }
}

article.sponsors {
  @extend .page-section;
  div.pitch {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  div.logo {
    // width: 100%;
    padding: 3.6rem 2rem;
    a {
      &:hover {
        filter: none;
      }
      display: block;
      height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      // filter: brightness();
    }
    img {
      // height: 12rem;
      // width: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  }

  /* image styling for sponsor logos */
  .sponsors-img {
      max-width: 100%;
      // max-height: 100%;
      display: block;
  }
}

article.footer {
  @extend .page-section;
  //TODO: remove when merged
  background: $primary-bg-color !important;
  color: black !important;
  .contact-card {
    margin: 0 auto;
    min-width: 300px;
    max-width: 350px;
    width: 80%;
    background: #fff7f4;
    padding: 2rem;
    @media (max-width: $md-breakpoint) {
      width: 100%;
      background: inherit;
    }
    .email {
      display: block;
      font-family: $serif-stack;
      font-size: 150%;
      font-weight: bold;
      color: #c79b72;
      margin: 1.75rem 0;   
    }
  }
  p {
    margin: 0;
  }
  .social-icons {
    a {
      transition: ease all .2s;
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
      .icon {
        width: 3.5rem;
      }
    }
  }
  @media (max-width: $md-breakpoint) {
    text-align: center;
  }
}

div.separator {
  height: 16rem;
  margin-top: -.2rem;
  margin-bottom: -.2rem;
  background-size: cover;
}