@import 'base';
@import 'vars';
@import 'nav';
@import 'animations';

article.img-bg-section {
  background-color: transparent !important;
  color: white;
  min-height: 100vh;
  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
    &>div,
    &>img {
      position: absolute;
      display: block;
      z-index: -2;
    }
  }
  .container {
    background-color: transparent;
    z-index: 1;
  }
}

a {
  color: $bp-bitcamp-orange;
  &:hover {
    text-decoration: none;
    color: $bp-bitcamp-orange;
    opacity: 1;
    -webkit-filter: brightness(140%);
            filter: brightness(140%);
  }
}

img.icon {
  width: 4rem;
  image-rendering: initial;
}

a.bp-btn {
  color: white;
  font-size: 1.6rem;
  padding: 1.2rem 1.8rem;
  font-family: Aleo;
  font-weight: bold;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  text-transform: uppercase;
  background-color: purple;
  text-decoration: none;
  border-radius: 2px;
  border-bottom: 3px solid darken(purple, 10);
  &.orange {
    background-color: $bp-bitcamp-orange;
    border-bottom: 3px solid darken($bp-bitcamp-orange, 10);

  }
  &.blue {
    background-color: $bp-medium-blue;
    border-bottom: 3px solid darken($bp-medium-blue, 10);

  }
  &.brown {
    background-color: $bp-dark-brown;
    border-bottom: 3px solid darken($bp-dark-brown, 10);

  }
  &.lg {
    padding: 1.2rem 3.6rem;
  }
  &:hover {
    opacity: 1;
    -webkit-filter: brightness(140%);
            filter: brightness(140%);
  }
  &:active {
    opacity: 1;
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  // border-top: 2px soid $bp-yellow-orange;
}

div.opaque-card {
  background-color: rgba(239, 239, 239, 0.9);
  border-radius: 1.75rem;
  margin: 2rem 3rem 0rem;
  padding: 2rem 3.25rem;
  color: black;
}

article.mobile-top {
  background-color: $bp-midnight-blue;
  color: white;
  position: relative;
  z-index: 999;
  height: 16rem;
  -webkit-transition: ease height .3s;
  transition: ease height .3s;
  .links {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  a {
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    text-align: center;
    display: block;
    opacity: 1;
    width: 100%;
    // margin: 0rem 1.5rem 2rem;
  }
  &.hidden {
    height: 0;
    z-index: -10;
    a {
      opacity: 0;
    }
  }
}

article.page-body {
  position: relative;
}

article.hero {
  // padding: 5rem 1.5rem 25rem;
  //margin-bottom: -.2rem; // gap glitch fix
  //background-color: $hero-sky-color;
  position: relative;
  //height: 600px;
  height: calc(100vh - #{$nav-height});
  @media (max-width: $lg-breakpoint) {
    height: calc(100vh - #{$reduced-nav-height});
  }
  #registration {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  .fire-container,.logs-container {
    display: inline-block; /* needed for scaling */
    position: absolute;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .fire-container {
    bottom: 10vh;
    left: 49.9%;
    img.fire {
      height: 20vh;
    }
  }
  .logs-container {
    bottom: 5vh;
    left: 50%;
    img.logs {
      height: 7vh;
    }
  }

  .content {
    position: relative;
    text-align: center;
    z-index: 1;
    @media (max-width: $lg-breakpoint) {
      top: 4rem;
    }
    @media (max-width: $sm-breakpoint) {
      top: 8rem;
    }
    @media (max-height: 600px) {
      top: 0;
    }
    h1 {
      color: $logo-color;
      font-size: 11.75rem;
      margin-top: calc(15vh - #{$nav-height});
      @media (max-width: $md-breakpoint) {
        font-size: 10rem;
      }
      @media (max-width: $sm-breakpoint) {
        font-size: 7rem;
      }
    }
    h2 {
      color: $bp-yellow-orange;
      font-size: 3.75rem;
      margin-top: -2rem;
      @media (max-width: $md-breakpoint) {
        font-size: 3.5rem;
      }
      @media (max-width: $sm-breakpoint) {
        font-size: 2.7rem;
        margin-top: 0;
      }
    }
    p {
      color: $bp-dark-brown;
      font-size: 2rem;
      margin: 0.5rem auto 0;
    }
  }
}

.page-section {
  position: relative;
  padding: 10rem 0rem;
  background-color: white;
  @media (max-width: $md-breakpoint) { //TODO: see if this is needed
    padding: 8rem 0 10rem;
  }
  h2 {
    margin-bottom: 2rem;
    text-align: left;
    font-size: 3.5rem;
    color: $bp-bitcamp-orange;
  }
  h3 {
    font-weight: normal;
    opacity: .9;
  }
  h4 {
    font-size: 2.5rem;
    color: black;
  }
  h5 {
    font-size: 1.8rem;
    color: $bp-yellow-orange;
  }
  p {
    text-align: left;
    white-space: normal;
    @media (max-width: $md-breakpoint) {
      //text-align: justify;
    }
  }
  .section-title {
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 0;
    @mixin centered-title {
      text-align: center;
      &:after {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 14rem;
      height: 4px;
      background: $bp-header-brown;
    }
    @media (max-width: $md-breakpoint) {
      @include centered-title;
    }
    &.on-dark-bg {
      color: white;
      &:after {
        background-color: white;
      }
    }
    &.always-centered {
      @include centered-title;
    }
  }
  .btn-container {
    margin-top: 4rem;
  }
  &.white {
    background-color: $bp-cloud-white;
    color: black;
  }
}

article.intro {
  @extend .page-section;
  text-align: center;
  p {
    text-align: left;
    margin: 3rem auto;
    font-size: 2.1rem;
    @media (max-width: $md-breakpoint) {
      //text-align: justify;
      font-size: 1.8rem;
    }
  }
  .vid-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

article.tracks {
  @extend .page-section;
  //background-color: black;
  .section-title {
    margin-bottom: 5rem;
  }
  .col-content {
    @media (max-width: $md-breakpoint) {
      text-align: center;
      p {
        //text-align: justify;
      }
    }
    .icon {
      //margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
  }
  h3 {
    font-size: 3.5rem;
    color: $bp-bitcamp-orange;
    margin-bottom: 0.5rem;
    @media (max-width: $md-breakpoint) {
      text-align: center;
    }
  }
  &.img-bg-section h3 {
    color: white;
  }
  &.img-bg-section.design h3 {
    color: $bp-bitcamp-orange;
  }
  &#compass-challenge .container {
    //margin-top: 4rem;
    img.icon {
      width: 7rem;
    }
    h2 {
      margin-bottom: 3rem;
      @media (max-width: $md-breakpoint) {
        margin-bottom: 4rem;
      }
    }
  }
  &#events {
    .top.row {
      margin-bottom: 3rem;
      @media (max-width: $md-breakpoint) {
        margin-bottom: initial;
      }
    }
    p {
      @media (max-width: $md-breakpoint) {
        margin-bottom: 5rem;
      }
    }
  }
  .external-link {
    display: block;
    //text-align: center;
    margin: 2rem 0;
  }
  img {
    width: 10rem;
  }
}

/*article.colorwar {
  @extend .page-section;
  background-image: url('../img/colorwarbg.jpg');
  background-size: cover;
  background-position: bottom;
  padding-bottom: 28rem;
  .icon {
    width: 8rem;
    margin-bottom: 4rem;
  }
}*/

article.schedule {
  @extend .page-section;
  /* Remove current tab background */
  a.active, a.active:hover, a.active:focus {
    background: transparent !important;
  }
  /* Remove bootstrap styling */
  ul.nav-tabs {
    border: 0px solid;
    margin-top: 7rem;
    margin-bottom: 5rem;
    background-color: rgba(239, 239, 239, 0.65);
    padding-bottom: 1.25rem;
    margin-left: 8rem;
    margin-right: 8rem;
    border-radius: 1.5rem;
    @media (max-width: $md-breakpoint) {
      margin-left: 2.75rem;
      margin-right: 2.75rem;
    }
    li.nav-item {
      margin: 0; /* Get rid of spacing between buttom borders */
      border-bottom: 5px solid $bp-warm-grey;
      padding-top: 1.25rem;
      width: 32%;
      a {
        &:hover {
          -webkit-filter: none;
                  filter: none; /* Remove link hover styling */
        }
        border: 0px solid;
        padding-bottom: 1rem;
      }
    }
    /* Style for currently active tab */
    li.current {
      border-color: $bp-bitcamp-orange;
      a h4 {
        font-family: AvenirBold;
        font-weight: bold;
      }
      @media (max-width: 1210px) {
        .date {
          color: $bp-bitcamp-orange;
        }
      }
    }
  }
  .tab {
    text-align: center;
    font-family: Avenir;
    .xsm-screen {
      display: none;
    }
    @media (max-width: 1210px) {
      .lg-screen {
        span {
          display: block;
        }
        .spacer {
          visibility: hidden;
        }
        .date {
          font-size: 1.75rem;
          margin-left: -1.5rem;
          padding: 0;
          margin: 0;
          margin-top: -2.5rem;
        }
      }
    }
    @media (max-width: $xsm-breakpoint) {
      .lg-screen {
        display: none;
      }
      .xsm-screen {
        display: block;
      }
    }
  }
  p {
    text-align: left;
    margin-bottom: 0rem;
    color: black;
  }
  h4 {
    text-align: left;
    font-family: AvenirBold;
  }
  .external-link {
    text-align: right;
    height: 100%;
    padding-top: 3.25rem;
    font-size: 2rem;
    @media (max-width: $md-breakpoint) {
      text-align: left;
      padding-top: 0rem;
    }
  }
  .event {
    @extend .opaque-card;
  }
  .footer {
    text-align: center;
    margin-top: 2.5rem;
    font-family: Avenir;
  }
  // TODO: Remove after schedule is finalized
  min-height: unset;
  width: 100%;
  .container {
    .opaque-card {
      padding: 3rem;
    }
    h4 {
      text-align: center;
    }
  }
}

article.faq {
  @extend .page-section;
  h5 {
    cursor: pointer;
    font-family: $sans-serif-stack;
    border-bottom: 2px solid #afafaf;
    color: black;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  p {
    margin-top: 2rem;
    display: none;
    color: black;
  }
  .faq-card {
    margin-top: 4rem;
    position: relative;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      background: black;
      -webkit-transition: -webkit-transform 100ms ease-in-out;
      transition: -webkit-transform 100ms ease-in-out;
      transition: transform 100ms ease-in-out;
      transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    }
    &:before { // Horizontal Line
      right: $plus-margin-right;
      top: calc(#{$plus-margin-top} + #{$plus-offset});
      width: $plus-length;
      height: $plus-thickness;
    }
    &:after { // Vertical Line
      right: calc(#{$plus-margin-right} + #{$plus-offset});
      top: $plus-margin-top;
      width: $plus-thickness;
      height: $plus-length;
    }
    &.open {
      p {
        display: block;
      }
      &:before {
        -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
      }
      &:after {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
      }
    }
  }
}

article.sponsors {
  @extend .page-section;
  div.pitch {
    margin-top: 4rem;
    h3 {
      color: black;
    }
    //margin-bottom: 4rem;
  }
  div.logo {
    // width: 100%;
    padding: 3.5rem 2rem;
    a {
      &:hover {
        -webkit-filter: none;
                filter: none;
      }
      display: block;
      height: 12rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      // filter: brightness();
    }
    img {
      // height: 12rem;
      // width: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  }

  /* image styling for sponsor logos */
  .sponsors-img {
      max-width: 100%;
      // max-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
}

article.footer {
  @extend .page-section;
  color: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  a:hover {
    filter: brightness(125%);
  }
  .img-bg {
    z-index: 1;
  }
  .contact-card {
    pointer-events: all;
    position: relative;
    right: 20%;
    z-index: 2;
    min-width: 350px;
    max-width: 350px;
    width: 30%;
    padding: 2rem;
    @media (max-width: $md-breakpoint) {
      left: 0;
      min-width: 250px;
    }
    .email {
      color: #ffaf40;
      display: block;
      font-family: $serif-stack;
      font-size: 150%;
      font-weight: bold;
      margin: 1.75rem 0;
    }
  }
  p {
    margin: 0;
    @media (max-width: $md-breakpoint) {
      text-align: center;
    }
  }
  .social-icons {
    a {
      -webkit-transition: ease all .2s;
      transition: ease all .2s;
      margin-left: 1rem;
      &:first-child {
        margin-left: 0;
      }
      .icon {
        height: 3.5rem;
        width: auto;
        //opacity: 0.5;
        @media (max-width: $md-breakpoint) {
          height: 3rem;
        }
      }
    }
  }
  @media (max-width: $md-breakpoint) {
    &, & h2 {
      text-align: center;
    }
  }
  .copyright {
    margin-top: 2rem;
  }
}
