@import 'vars';

$nav-link-hover-color: #ffad77;
$logo-font-size: 3rem;

#nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 1px 5px rgba(117, 84, 84, 0.4);
            box-shadow: 0 1px 5px rgba(117, 84, 84, 0.4);
    background-color: white;
    height: $nav-height;
    z-index: 100;
    @media (max-width: $lg-breakpoint) {
        min-height: $reduced-nav-height;
        height: auto;
    }
    .navbar {
        height: 100%;
        width: 80%;
        min-width: 900px;
        @media (max-width: $lg-breakpoint) {
            padding-top: 1.5rem;
            min-width: $md-breakpoint - 1px;
        }
        @media (max-width: $md-breakpoint) {
            min-width: initial;
            width: 100%;
        }
    }
    .nav-link {
        color: $header-font-color;
        margin: 0 0.75rem;
        font-weight: bold;
        @media (max-width: $md-breakpoint) {
            text-align: center;
        }
        &:hover,
        &.sign-up-link:hover {
            color: $nav-link-hover-color;
            -webkit-filter: none;
                    filter: none;
        }
        &.sign-up-link {
            text-transform: uppercase;
            color: $logo-color;
        }
        &.sign-alt {
          text-transform: uppercase;
          color: $bp-header-brown;
          display: none;
          @media (max-width: $md-breakpoint) {
            display: inline;
          }
        }
    }
    .navbar-brand {
        color: $logo-color;
        font-family: Aleo;
        line-height: 1;
        font-weight: bold;
        font-size: $logo-font-size;
        &:hover {
            -webkit-filter: none;
                    filter: none;
        }
        img {
            width: 2.5rem;
            vertical-align: baseline;
            margin-right: 1rem;
            margin-left: -$logo-font-size;
            opacity: 0;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            color: $logo-color;
            font-size: 2rem;
            line-height: $logo-font-size;
        }
    }
    .navbar-nav {
        width: 100%;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    #mlh-trust-badge {
        display: block;
        max-width: 9rem;
        min-width: 6rem;
        position: absolute;
        top: 0;
        left: 100%;
        width:10%;
        -webkit-transition: ease all .2s;
        transition: ease all .2s;
        z-index: 100;
        @media (max-width: 1100px) {
            display: none;
        }
  }
  &.below-hero {
    #mlh-trust-badge {
        display: none;
    }
    .navbar-brand img {
        opacity: 1;
        margin-left: 0;
    }
  }
}
