// Vars (bp stands for bitcamp)
$bp-dark-brown: #7F6C5F;
$bp-medium-brown: #A58D7C;
$bp-light-brown: #E5D8CE;
$bp-header-brown: #C79970;
$bp-warm-grey: #EFEFEF;

$bp-cloud-white: #FFFFFF;

$bp-flame-red: #FF3F46;
$bp-bitcamp-orange: #FF6F3F;
$bp-yellow-orange: #FFAF3F;
$bp-yellow: #FFEF3F;

$bp-midnight-blue: #1A2E33;
$bp-medium-blue: #528CA5;
$bp-sky-blue: #CBF2FF;

// Custom
$bp-midnight-blue-light: #22363c;

// Font
$sans-serif-stack: Avenir, Georgia, sans-serif;
$serif-stack: Aleo, Times, serif;

// 2019 Color Palette
$header-font-color: #474b4e;
$primary-bg-color: #ffeee7;
$logo-color: #fa7041;
$primary-btn-color: $logo-color;
$secondary-btn-color: #fcc7b5;

// FAQ Plus Sign
$plus-length: 10px;
$plus-thickness: 2px;
$plus-offset: ($plus-length - $plus-thickness) / 2; // Centers both lines
$plus-margin-top: 1rem;
$plus-margin-right: 0.5rem;

// Bootstrap breakpoints
$sm-breakpoint: 575.98px;
$md-breakpoint: 767.98px;
$lg-breakpoint: 991.98px;
