@import '../vars';

@mixin fill-bg($width, $height) {
    position: absolute;
    height: $height;
    width: $width;
    background-repeat: no-repeat;
    background-size: $width;
}

@mixin ultra-wide-rules($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin setSize($sideLength) {
    height: $sideLength;
    width: $sideLength; 
}