#clouds {
  background-image: url('../img/parallax-backgrounds/hero.png');
  background-position: bottom;

  .cloud {
    position: absolute;
    z-index: -1;
    animation: cloudDrift linear infinite;
  }

  .fadeInAndOut {
    position: static;
    animation: fadeInAndOut linear infinite;
  }

  .long-duration {
    animation-duration: 60s;
  }
  .medium-duration {
    animation-duration: 45s;
  }
  .short-duration {
    animation-duration: 35s;
  }

  .lrg {
    height: 20%;
    top: 12%;
    left: -5%;
  }
  .sml {
    height: 10%;
    top: 25%;
    left: 23%;
  }
  .med {
    height: 15%;
    top: 5%;
    left: 5%;
  }

  @keyframes cloudDrift {
    from { transform: translateX(0rem); }
    to { transform: translateX(75rem); }
  }

  /* Fade in */
  @keyframes fadeInAndOut {
    0%   { opacity: 0; }
    5%   { opacity: 1; }
    90%  { opacity: 1; }
    100% { opacity: 0; }
  }
}