article.hero {
  background: url('../img/parallax-backgrounds/herolong-no-logs-moresky-2.png') no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow-x: hidden;

  .sign-container {
    position: absolute;
    bottom: 0;
    right: 2%;
    @media (max-width: $md-breakpoint) {
      display: none;
    }
    .signs {
      height: 25rem;
    }
    .sign-link {
      font-family: $serif-stack;
      position: absolute;
      display: block;
      color: black;
      left: 50.5%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      &:hover {
        color: $bp-bitcamp-orange;
      }
    }
    .hack {
      top: 16%;
      -webkit-transform: translateX(-50%) rotate(15deg);
              transform: translateX(-50%) rotate(15deg);
    }
    .mentor {
      top: 47%;
    }
    .volunteer {
      top: 73%;
    }
  }
}

#clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .cloud {
    position: absolute;
    z-index: 0;
    -webkit-animation: cloudDrift linear infinite;
            animation: cloudDrift linear infinite;
  }

  .long-duration {
    -webkit-animation-duration: 60s;
            animation-duration: 60s;
  }
  .medium-duration {
    -webkit-animation-duration: 45s;
            animation-duration: 45s;
  }
  .short-duration {
    -webkit-animation-duration: 35s;
            animation-duration: 35s;
  }

  .lrg {
    height: 18%;
    top: 5%;
    left: -5%;
    @media (max-width: $sm-breakpoint) {
      height: 15%;
    }
  }
  .sml {
    height: 8%;
    top: 30%;
    left: 30%;
    @media (max-width: $sm-breakpoint) {
      height: 5%;
    }
  }
  .med {
    height: 15%;
    top: 40%;
    left: 10%;
    @media (max-width: $sm-breakpoint) {
      height: 10%;
    }
  }

  @-webkit-keyframes cloudDrift {
    0% { opacity: 0; }
    5% { opacity: 1; }
    95% { opacity: 1; }
    100% {
      opacity: 0;
      left: 90%;
    }
  }

  @keyframes cloudDrift {
    0% { opacity: 0; }
    5% { opacity: 1; }
    95% { opacity: 1; }
    100% {
      opacity: 0;
      left: 90%;
    }
  }
}
