#lake {
   %fill-bg {
      position: absolute;
      height: 1080px;
      width: 1920px;
      background-repeat: no-repeat;
      background-size: 1920px;
   }

   //width: 1920px;
   background-color: #5d8594;
   overflow: hidden;
   z-index: -4;

   div {
      position: static;
      div {
         position: absolute;
      }
   }

   .shore {
      @extend %fill-bg;
      background-image: url('../img/parallax-backgrounds/lake-components/shore.svg');
   }

   .rocks {
      @extend %fill-bg;
      background-image: url('../img/parallax-backgrounds/lake-components/rocks.png');
   }

   .waves {
      @extend %fill-bg;
      background-image: url('../img/parallax-backgrounds/lake-components/waves.png');
      -webkit-animation: waves 1.1s steps(2) infinite;
              animation: waves 1.1s steps(2) infinite;
      opacity: .84;

      @-webkit-keyframes waves{
         from{background-position-y:0px;}
         to{background-position-y:-2160px;}
      }

      @keyframes waves{
         from{background-position-y:0px;}
         to{background-position-y:-2160px;}
      }
   }

   .kayak {
      height: 360px;
      top: 411px;
      left: 525px;
      -webkit-transform: rotate(110deg);
              transform: rotate(110deg);
   }

   .gill {
      height: 100px;
      width: 100px;
      top: -100px;
      background-image : url('../img/parallax-backgrounds/lake-components/bluegill.png');
      background-size: 900px 100px;
      background-repeat: no-repeat;
   }

   @-webkit-keyframes gill-swim-default{
      0%{
         background-position-x:-100px;
      }
      100%{
         background-position-x:100px;
      }
   }

   @keyframes gill-swim-default{
      0%{
         background-position-x:-100px;
      }
      100%{
         background-position-x:100px;
      }
   }

   @-webkit-keyframes gill-swim-secondary{
      0%{
         background-position-x:-200px;
      }
      100%{
         background-position-x:-900px;
      }
   }

   @keyframes gill-swim-secondary{
      0%{
         background-position-x:-200px;
      }
      100%{
         background-position-x:-900px;
      }
   }

   .gill-1 {
      left: 600px;
      -webkit-animation: gill-swim-default 2s steps(2) infinite;
              animation: gill-swim-default 2s steps(2) infinite;
   }

   .gill-container-1 {
      -webkit-animation: gill-move-1 25s steps(100) infinite;
              animation: gill-move-1 25s steps(100) infinite;
   }

   @-webkit-keyframes gill-move-1{
      to{
         -webkit-transform: translateY(1200px) translateX(1300px);
                 transform: translateY(1200px) translateX(1300px);
      }
   }

   @keyframes gill-move-1{
      to{
         -webkit-transform: translateY(1200px) translateX(1300px);
                 transform: translateY(1200px) translateX(1300px);
      }
   }

   .gill-2 {
      left: 500px;
      -webkit-animation: gill-swim-default 2.2s steps(2) infinite;
              animation: gill-swim-default 2.2s steps(2) infinite;
   }

   .gill-container-2 {
      -webkit-animation: gill-move-2 25s steps(100) 1s infinite;
              animation: gill-move-2 25s steps(100) 1s infinite;
   }

   @-webkit-keyframes gill-move-2{
      to{
         -webkit-transform: translateY(1200px) translateX(1300px);
                 transform: translateY(1200px) translateX(1300px);
      }
   }

   @keyframes gill-move-2{
      to{
         -webkit-transform: translateY(1200px) translateX(1300px);
                 transform: translateY(1200px) translateX(1300px);
      }
   }

   .gill-3 {
      left: 400px;
      -webkit-animation: gill-swim-default 1.7s steps(2) infinite;
              animation: gill-swim-default 1.7s steps(2) infinite;
      opacity: .58;
   }

   .gill-container-3 {
      -webkit-animation: gill-move-3 23s steps(100) 1.4s infinite;
              animation: gill-move-3 23s steps(100) 1.4s infinite;
   }

   @-webkit-keyframes gill-move-3{
      to{
         -webkit-transform: translateY(1100px) translateX(1200px);
                 transform: translateY(1100px) translateX(1200px);
      }
   }

   @keyframes gill-move-3{
      to{
         -webkit-transform: translateY(1100px) translateX(1200px);
                 transform: translateY(1100px) translateX(1200px);
      }
   }

   .bass {
      height: 160px;
      width:160px;
      top: -160px;
      background-image : url('../img/parallax-backgrounds/lake-components/bass.png');
      background-size: 1440px 160px;
      background-repeat: no-repeat;
   }

   @-webkit-keyframes bass-swim-1{
      0%{
         background-position-x:-160px;
      }
      100%{
         background-position-x:160px;
      }
   }

   @keyframes bass-swim-1{
      0%{
         background-position-x:-160px;
      }
      100%{
         background-position-x:160px;
      }
   }

   @-webkit-keyframes bass-swim-2{
      0%{
         background-position-x:-320px;
      }
      100%{
         background-position-x:-1440px;
      }
   }

   @keyframes bass-swim-2{
      0%{
         background-position-x:-320px;
      }
      100%{
         background-position-x:-1440px;
      }
   }

   .bass-1 {
      right: 300px;
      -webkit-animation: bass-swim-1 1s steps(2) infinite;
              animation: bass-swim-1 1s steps(2) infinite;
      opacity: .65;
   }

   .bass-container-1 {
      -webkit-animation: bass-move-1 20s steps(100) infinite;
              animation: bass-move-1 20s steps(100) infinite;
   }

   @-webkit-keyframes bass-move-1{
      to{
         -webkit-transform: translateY(500px) translateX(500px);
                 transform: translateY(500px) translateX(500px);
      }
   }

   @keyframes bass-move-1{
      to{
         -webkit-transform: translateY(500px) translateX(500px);
                 transform: translateY(500px) translateX(500px);
      }
   }

   .bass-2 {
      right: 500px;
      -webkit-animation: bass-swim-2 1.25s steps(7) infinite;
              animation: bass-swim-2 1.25s steps(7) infinite;
      /*opacity: .5;*/
   }

   .bass-container-2 {
      -webkit-animation: bass-move-2 13s steps(100) 5s infinite;
              animation: bass-move-2 13s steps(100) 5s infinite;
   }

   @-webkit-keyframes bass-move-2{
      to{
         -webkit-transform: translateY(1700px) translateX(1700px);
                 transform: translateY(1700px) translateX(1700px);
      }
   }

   @keyframes bass-move-2{
      to{
         -webkit-transform: translateY(1700px) translateX(1700px);
                 transform: translateY(1700px) translateX(1700px);
      }
   }

   .gill-4 {
      right: 500px;
      -webkit-animation: gill-swim-secondary 1s steps(7) infinite;
              animation: gill-swim-secondary 1s steps(7) infinite;
      /*opacity: .56;*/
   }

   .gill-container-4 {
      -webkit-animation: gill-move-4 14s steps(100) 1.4s 2;
              animation: gill-move-4 14s steps(100) 1.4s 2;
   }

   @-webkit-keyframes gill-move-4{
      to{
         -webkit-transform: translateY(1100px) translateX(1200px);
                 transform: translateY(1100px) translateX(1200px);
      }
   }

   @keyframes gill-move-4{
      to{
         -webkit-transform: translateY(1100px) translateX(1200px);
                 transform: translateY(1100px) translateX(1200px);
      }
   }

   .gill-5 {
      left: 550px;
      -webkit-animation: gill-swim-default 1.5s steps(2) infinite;
              animation: gill-swim-default 1.5s steps(2) infinite;
      /*opacity: .45;*/
   }

   .gill-container-5 {
      -webkit-animation: gill-move-5 24s steps(100) 2.4s 2;
              animation: gill-move-5 24s steps(100) 2.4s 2;
   }

   @-webkit-keyframes gill-move-5{
      to{
         -webkit-transform: translateY(1100px) translateX(1200px);
                 transform: translateY(1100px) translateX(1200px);
      }
   }

   @keyframes gill-move-5{
      to{
         -webkit-transform: translateY(1100px) translateX(1200px);
                 transform: translateY(1100px) translateX(1200px);
      }
   }

   .gill-6 {
      left: 650px;
      -webkit-animation: gill-swim-default 1.7s steps(2) infinite;
              animation: gill-swim-default 1.7s steps(2) infinite;
      opacity: .5;
   }

   .gill-container-6 {
      -webkit-animation: gill-move-6 26s steps(100) 1s 2;
              animation: gill-move-6 26s steps(100) 1s 2;
   }

   @-webkit-keyframes gill-move-6{
      to{
         -webkit-transform: translateY(1100px) translateX(1200px);
                 transform: translateY(1100px) translateX(1200px);
      }
   }

   @keyframes gill-move-6{
      to{
         -webkit-transform: translateY(1100px) translateX(1200px);
                 transform: translateY(1100px) translateX(1200px);
      }
   }

   .turtle {
      height: 220px;
      width:220px;
      top: -220px;
      position: absolute;
      background-image : url('../img/parallax-backgrounds/lake-components/turtle.png');
      background-size: 220px 220px;
      background-repeat: no-repeat;
      right: 700px;
      opacity: .79;
      @media (max-width: $md-breakpoint) {
        
      }
   }

   .turtle-container {
      -webkit-animation: turtle 120s infinite;
              animation: turtle 120s infinite;
   }

   @-webkit-keyframes turtle {
      to{
         -webkit-transform: translateY(1000px) translateX(1000px);
                 transform: translateY(1000px) translateX(1000px);
      }
   }

   @keyframes turtle {
      to{
         -webkit-transform: translateY(1000px) translateX(1000px);
                 transform: translateY(1000px) translateX(1000px);
      }
   }
}
